:root {
  --accent: #228B22;
  --accent-dim: #228b2285;
  --text: #444;
  --card-padding: 10px;
}

/*Scrollbar Settings*/

/* Width */
::-webkit-scrollbar {
  width: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--accent-dim);
}

/* Handle on click */
::-webkit-scrollbar-thumb:active {
  background: var(--accent);
}

body {
  margin: 0;
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: var(--text)
}

.content {
  max-width: 750px;
  padding: 10px;
  margin: auto;
}

a {
  color: var(--text);
  text-decoration: none;
  outline: solid 0 var(--accent);
  transition: outline 0.1s ease;
}

a.h {
  color: var(--accent);
}

a:hover {
  outline: solid 5px rgba(34, 139, 34, 0.5);
}

a:focus { 
  outline: solid 5px var(--accent);
}

.inlineLink {
  color: var(--accent);
  font-weight: bold;
}

p, ul {
  margin: 0 0 10px 0;
  line-height: 1.3em;
}

.fas {
  padding-left: 5px;
}

span {
  padding: 5px;
}

.titleBar {
  background-color: var(--accent);
  max-width: 750px;
  margin: auto;
  border-radius: 0 0 5px 5px;
}

.title {
  margin-left: 15px;
  font-size: 2em;
  font-weight: bold;
  color: #fff !important;
}

.h1 {
  font-size: 2em;
  font-weight: bold;
  margin-top: 50px;
}

.h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 25px;
}

.h3 {
  font-size: 1em;
  font-weight: bold;
  margin-top: 25px;
}

footer {
  margin: 50px 0;
}

.noBottomMargin {
  margin-bottom: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent: #228B22;
    --text: #eee;
    --text-dim: #ddd; 
  }

  body {
    color: var(--text);
    background: #202020;
  }

  a {
    color: var(--text);
  }
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
}

.card {
  padding: var(--card-padding);
  display: block;
  background-color: var(--accent);
  margin: 10px;
  border-radius: 5px;
  color: #fff;
}

.cardTitle {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
}

.cardText {
  margin: 0;
  color: var(--text-dim);
}

.sub-card {
  padding: 0;
}

table, tr {
  width: 100%;
  padding: 0;
  margin: 0;
  border-spacing: 0;
}

td a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 0 10px 0;
  font-weight: bold;
  color: #fff;
}

.left {
  width: 50%;
  height: 100%;
  text-align: center;
  background-color: #228B22;
  border-radius: 5px 0 0 5px;
} 

.right {
  width: 50%;
  height: 100%;
  text-align: center;
  background-color: #007565;
  border-radius: 0 5px 5px 0;
}

@media only screen and (max-width: 765px) {
  a {
  line-height: 1.75em;
  font-size: 1.1em;
  }

  .card-grid {
    grid-template-columns: 1fr;
  }

  .inlineLink {
    line-height: 1.3em;
  }

  .card p {
    line-height: 1.3em;
  }

  .titleBar {
    max-width: 750px;
    border-radius: 0;
  }
}