:root {
  --accent: #228B22;
  --accent-dim: #228b2285;
  --text: #444;
  --text-dim: #eee; 
  --card-padding: 10px;

  --card-yellow: #e6d600;
}

@font-face {
  font-family: 'Inter-Regular';
  src: url('/fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),  url('/fonts/Inter-Regular.woff') format('woff'), url('/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("/fonts/Inter.var.woff2?v=3.13") format("woff2");
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("/fonts/Inter.var.woff2?v=3.13") format("woff2");
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--accent-dim);
}
::-webkit-scrollbar-thumb:active {
  background: var(--accent);
}

body {
  margin: 0;
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-family: 'Inter var', 'Inter-Regular', sans-serif;
  color: var(--text);
}

.content {
  max-width: 750px;
  padding: 10px;
  margin: auto;
}

a {
  color: var(--accent);
  display: inline-block;
  text-decoration: none;
  outline: solid 0 var(--accent);
  transition: outline 0.1s ease;
  width: auto;
}

a.h {
  color: var(--accent);
  display: inline-block;
}

a:hover {
  outline: solid 5px rgba(34, 139, 34, 0.5);
}

a:focus { 
  outline: solid 5px var(--accent);
}

.link-list {
  margin-bottom: 15px;
  line-height: normal;
}

.inlineLink {
  color: var(--accent);
  font-weight: bold;
}

p, ul {
  margin: 0 0 10px 0;
  line-height: 1.3em;
}

.fas {
  padding-left: 5px;
}

span {
  padding: 5px;
}

.titleBar {
  background-color: var(--accent);
  max-width: 750px;
  margin: auto;
  border-radius: 0 0 5px 5px;
}

.title {
  transition: color 0.3s ease;
  margin-left: 15px;
  font-size: 2em;
  font-weight: 900;
  color: #fff !important;
}

.title:hover, .title:focus {
  color: #ddd !important;
}
.title:hover, .title:focus {
  outline: none;
}

.h {
  color: var(--text) !important;
}

.h1 {
  font-size: 2em;
  font-weight: 900;
  margin-top: 25px;
  margin-bottom: 5px;
}

.h2 {
  font-size: 1.5em;
  font-weight: 900;
  margin-top: 25px;
  margin-bottom: 5px;
}

.h3 {
  font-size: 1em;
  font-weight: 900;
  margin-top: 25px;
}

footer {
  margin: 25px 0;
}

.noBottomMargin {
  margin-bottom: 0;
}

.noBold {
  font-weight: normal !important;
}

.code-block {
  border: solid 1px var(--accent);
  border-radius: 5px;
  padding: 10px 10px 0 10px;
  margin: 10px 0;
}

.image-container {
  padding: 10px;
  margin: 10px 0;
  background: #DADADA;
  border-radius: 10px;
}

.image-container img {
  width: 100%;
  height: auto;
}

.image-container h3{
  text-align: center;
}

.image-container p {
  text-align: center;
}

/* Dark Mode Preference */
@media (prefers-color-scheme: dark) {
  :root {
    --accent: #228B22;
    --text: #eee;
    --text-dim: #ddd; 
  }

  body {
    color: var(--text);
    background: #202020;
  }

  a {
    color: var(--accent);
  }

  .week {
    color: #000 !important;
    background-color: #fff !important;
  }

  .image-container {
    background-color: #252525;
  }
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;        <p>Step 4:</p>
}

.card {
  padding: var(--card-padding);
  display: block;
  background-color: var(--accent);
  margin: 10px;
  border-radius: 5px;
  color: #fff;
}



.sub-card {
  grid-template-columns: 1fr 1fr !important;
  gap: 10px;
}

.card-title {
  font-size: 1em;
  font-weight: 900;
  margin: 0;
  line-height: 1em;
}

.card-text {
  margin: 0;
  color: var(--text-dim);
}

.card-grid > .left, .card-grid > .right {
  margin: 10px auto 0 auto;
}

.left, .right {
  transition: background-color 0.3s ease;
  width: 100%;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  font-weight: 900;
  color: var(--accent);
}

.sub-card-dark .left, .sub-card-dark .right {
  color: #000 !important;
}

.left:hover, .right:hover, .left:focus, .right:focus {
  background-color: #ddd;
}

.week {
  background: #000;
  color: #fff;
  padding: 5px 10px;
  margin-bottom: 5px;
  display: inline-block;
  border-radius: 5px;
}

#week {
  padding: 0;
}


@media only screen and (max-width: 765px) {
  a {
    line-height: 1.75em;
    font-size: 1.1em;
  }

  .card-grid {
    grid-template-columns: 1fr;
  }

  .inlineLink {
    line-height: 1.3em;
  }

  .card p {
    line-height: 1.3em;
  }

  .titleBar {
    max-width: 750px;
    border-radius: 0;
  }
}
.alert-yellow {
  background-color: var(--card-yellow) !important;
  color: #000;
}
